/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIElEQVQoU2NcWuD6v2nfFwZcgFFdz/I/TlkGBobhoQAAGHYPccmxFlIAAAAASUVORK5CYII=) repeat;
}

.modal-content{
  animation-name: fade-in;
  animation-duration: 0.4s;
  background-color: transparent !important;
  border: none !important;
}

@keyframes fade-in {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1)}
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
