.example-card {
  max-width: 400px;
  margin: auto;
  border-width: 1px;
  border-color: black;
  top: 10%;
}

.card-image {
  border: 1px solid grey;
}

.container {
  height: 100%;
  width: 100%;
}
